
@mixin clearfix {
    &:after {
        display: inline-block;
        content:"";
        clear:both;
    }
}

@mixin desktop-overflow-y {
    @media(min-width:768px){
        overflow: hidden;
    }
}

@mixin desktop-overflow-y-scroll {
    overflow-y: visible;
    @media(min-width:768px){
        overflow-y: scroll;
    }
}

@mixin top-menu-height {
    height: 40px;
}

@mixin high-z-index($add) {
    z-index: $base-z-index + $add !important;
}

@mixin transparent-linear-gradient {
  background: -webkit-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.8), rgba(255,255,255,1));
  background: -o-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.8), rgba(255,255,255,1));
  background: -moz-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.8), rgba(255,255,255,1));
  background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.8), rgba(255,255,255,1));
}

@mixin base-box-shadow {
    -webkit-box-shadow: $base-box-shadow;
    -moz-box-shadow: $base-box-shadow;
    box-shadow: $base-box-shadow;
}

@mixin main-nav {
    display: block;
    background: white;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid $base-border-color;
    width: 100%;

}
