
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$base-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;
$base-border-radius: 3px;

// Brands
// $brand-primary: #3097D1;
// $brand-primary: #01A4E8; // Preferred
$brand-primary: #00A0E5;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
// $brand-danger: #bf5329; // Default
// $brand-danger: #DD0000;
// $brand-danger: #CE0000;
$brand-danger: #FF2A74;

$base-background: linear-gradient(190deg, rgba(0,198,255, 0.25) 0%, rgba(0, 114, 255, 0.25) 100%), linear-gradient(-110deg, rgba(0, 198, 255, 0.2) 0%, rgba(0, 114, 255, 0.2) 100%), linear-gradient(10deg, rgba(0, 198, 255, 0.15) 0%, rgba(0, 114, 255, 0.15) 100%), linear-gradient(190deg, rgba(2, 170, 176, 0.25) 0%, rgba(0, 205, 172, 0.25) 100%), linear-gradient(-110deg, rgba(2, 170, 176, 0.15) 0%, rgba(0, 205, 172, 0.15) 100%), linear-gradient(10deg, rgba(2, 170, 176, 0.25) 0%, rgba(0, 205, 172, 0.25) 100%), linear-gradient(190deg, rgba(0, 198, 255, 0.701961) 0%, rgba(0, 114, 255, 0.701961) 100%), linear-gradient(-110deg, rgba(0, 198, 255, 0.65098) 0%, rgba(0, 114, 255, 0.65098) 100%), linear-gradient(10deg, rgba(0, 198, 255, 0.4) 0%, rgba(0, 114, 255, 0.4) 100%), linear-gradient(190deg, rgba(2, 170, 176, 0.55) 0%, rgba(0, 205, 172, 0.55) 100%), linear-gradient(-110deg, rgba(2, 170, 176, 0.45) 0%, rgba(0, 205, 172, 0.45) 100%), linear-gradient(10deg, rgba(2, 170, 176, 0.55) 0%, rgba(0, 205, 172, 0.55) 100%);

$list-background: linear-gradient(190deg, rgba(125,242,159, 0.25) 0%, rgba(47,191,81, 0.25) 100%), linear-gradient(-110deg, rgba(125,242,159, 0.2) 0%, rgba(47,191,81, 0.2) 100%), linear-gradient(10deg, rgba(125,242,159, 0.15) 0%, rgba(47,191,81, 0.15) 100%), linear-gradient(190deg, rgba(1,175,30, 0.25) 0%, rgba(0, 205, 172, 0.25) 100%), linear-gradient(-110deg, rgba(1,175,30, 0.15) 0%, rgba(0, 205, 172, 0.15) 100%), linear-gradient(10deg, rgba(1,175,30, 0.25) 0%, rgba(0, 205, 172, 0.25) 100%), linear-gradient(190deg, rgba(125,242,159, 0.701961) 0%, rgba(47,191,81, 0.701961) 100%), linear-gradient(-110deg, rgba(125,242,159, 0.65098) 0%, rgba(47,191,81, 0.65098) 100%), linear-gradient(10deg, rgba(125,242,159, 0.4) 0%, rgba(47,191,81, 0.4) 100%), linear-gradient(190deg, rgba(1,175,30, 0.55) 0%, rgba(0,204,95, 0.55) 100%), linear-gradient(-110deg, rgba(1,175,30, 0.45) 0%, rgba(0,204,95, 0.45) 100%), linear-gradient(10deg, rgba(1,175,30, 0.55) 0%, rgba(0,204,95, 0.55) 100%);

$folder-background: $base-background;

$folder-primary: $brand-primary;
$note-primary: #7E47C6;
$list-primary: #41C15F;
// $goal-primary: #EF4548;
// $goal-primary: #FF2A74; // love this
$goal-primary: #FF3895;

$folder-text-shadow: 0px 1px 1px rgba(0,114,255,1);
$list-text-shadow: 0px 1px 1px rgba(47,191,81,1);

$base-box-shadow: 0px 1px 1px 0px rgba(0,114,255,0.5);

// Typography
$font-family-sans-serif: "Quicksand", sans-serif;
$paragraph-font-family-sans-serif: "Asap", sans-serif;
$title-font-family: "Quicksand", sans-serif;
$logo-font: "Oleo Script Swash Caps", "Rubik", sans-serif;
$font-size-base: 14px;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-light: 300;
$line-height-base: 1.6;
$grey-text-color: #636b6f;
$light-grey-text-color: lighten($grey-text-color, 20%);
$text-color: #000;
// $text-color: $brand-primary;
// $text-color: $grey-text-color;
$blue-text-color: $brand-primary;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($grey-text-color, 40%); // #ccd0d2
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($grey-text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;


$item-form-height: 35px;
$item-form-border-color: lighten($base-border-color, 2%);

$base-z-index: 99999;

$top-menu-height: 40px;
