.action-nav {
    position: relative;
    padding-top: 1vh;
    padding-bottom: 1vh;
    @include main-nav;
}
.toggle-delete-btn,
.toggle-move-btn {
    float: right;
    &:not(:last-child) {
        margin-left: 5px;
    }
}

.toggle-delete-btn {
    &,
    &:focus,
    &:active {
        outline: none;
        background: transparent;
    }
    &.delete-armed {
        color: $brand-danger;
        border: 1px solid $brand-danger;
        &:hover {
            background: $brand-danger;
            color: white;
        }
    }
}

.toggle-create-new-btn {
    margin: 0;
    margin-right: 10px;
    padding: 0;
    border-radius: 50%;
    a {
        height: 27px;
        width: 27px;
        color: white;
        text-decoration: none;
        display: table;
        padding: 0;
        i.fa {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            padding: 2px 0 0;
        }
    }
}
