.action-nav {
    position: relative;
    width: 100%;
}
.toggle-delete-btn,
.toggle-move-btn {
    float: right;
    margin-top: 10px;
    &:not(:last-child) {
        margin-left: 10px;
    }
}

.toggle-delete-btn {
    &,
    &:focus,
    &:active {
        outline: none;
        background: transparent;
    }
    &.delete-armed {
        color: $brand-danger;
        border: 1px solid $brand-danger;
        &:hover {
            background: $brand-danger;
            color: white;
        }
    }
}
