.action-nav {
    position: relative;
    margin-top: -25px;
    padding-top: 8px;
    width: 100%;
    border-radius: 0;
}
.toggle-delete-btn,
.toggle-move-btn {
    float: right;
    // margin-top: 10px;
    &:not(:last-child) {
        margin-left: 5px;
    }
}

.toggle-delete-btn {
    &,
    &:focus,
    &:active {
        outline: none;
        background: transparent;
    }
    &.delete-armed {
        color: $brand-danger;
        border: 1px solid $brand-danger;
        &:hover {
            background: $brand-danger;
            color: white;
        }
    }
}

.toggle-create-new-btn {
    display: block;
    min-width: 100px;
}
