.productivity-breadcrumbs {
    border-left: 1px solid $base-border-color;
    padding-left: 10px;
    display: inline-block;
    width: 80%;
    font-size: 1em;
    line-height: 2;
    margin: 0;
    margin-top: 2px;
    vertical-align: middle;
    // overflow-x: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    color: $brand-primary;

    ::-webkit-scrollbar {
        display: none;
    }
    font-weight: 300;

    .current-view,
    .current-folder {
        font-weight: $font-weight-bold;
    }

    ul {
        display: inline-block;
        margin: 0;
    }

    li {
        display: inline-block;
    }

    .fa-angle-right {
        color: darken($base-border-color, 10%);
    }
}
