.productivity-breadcrumbs {
    display: inline-block;
    width: 75%;
    font-size: 1em;
    margin-top: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }

    font-weight: 300;

    .current-view,
    .current-folder {
        font-weight: 600;
    }

    ul {
        display: block;
    }

    li {
        display: inline-block;
        color: $folder-primary;
    }
}
