.deadline-input {
    width: 150px;
    display: inline-block;
    vertical-align: middle;
    label {
        margin:0;
        margin-right: 10px;
    }
}
.item-form {
    width: 100%;
    padding: 0px;
    border: 1px solid $input-border;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 5px;
    background: white;
    .item-form-content {
        vertical-align: middle;
        position: relative;
        height: 38px;
        padding: 0;
        input {
            border: 0;
            outline: none;
            width: 100%;
            height: 100%;
            padding-left: 5px;
        }
    }
    .item-form-meta {
        display: inline-block;;
        margin:0;
        height: 38px;
        float:right;
        vertical-align: middle;
        border-left: 1px solid $input-border;
        background: $body-bg;
        padding: 0;
        width: 215px;
        .item-form-bool,
        .item-form-date {
            display: inline-block;
            margin:0;
            padding: 0;
            height: 100%;
            vertical-align: middle;
            &:nth-child(2) {
                border-right: 1px solid $input-border;
                border-left: 1px solid $input-border;
            }
            label {
                display: block;
                font-size: 0.7em;
                margin: 0;
            }
            p,
            input {
                height: 20px;
                line-height: 20px;
                padding: 0;
                margin: 0;
                display: inline-block;
            }
            p {
                cursor: pointer;
            }
        }
        .item-form-bool {
            text-align: center;
            overflow: hidden;
            width: 60px;
        }
        .item-form-date {
            position: relative;
            width: 80px;
            p {
                font-size:0.85em;
            }
        }
    }
}

.checklist-items {
    margin-top: 20px;
}

.show-item {
    overflow: hidden;
    border-bottom: 1px solid lighten($base-border-color, 10%);
    &:hover {
        background: lighten($body-bg, 1%);
    }
    p, i {
        display: inline-block;
        margin:0;
        padding: 10px 0;
        vertical-align: middle;
    }
    p {
        font-size: 1.2em;
        line-height: 1em;
        cursor: pointer;
    }
    i {
        font-size: 1.8em;
        line-height: 1em;
        margin: 0;
        padding: 0;
    }

    .preview-deadline,
    .toggle {
        float: right;
        margin-top: 5px;
        margin-right: 5px;
        cursor: pointer;
    }
    .toggle {
        font-size: 16px;
        padding: 7px;
        &:hover {
            color: $list-primary;
        }
    }
    .preview-deadline {
        float: right;
        font-size: 0.75em;
    }

}
.edit-item-form {
    padding: 10px;
    background: $body-bg;
    border: 1px solid $input-border;
    border-radius: 3px;
    margin-bottom: 10px;
    position: relative;
    .delete-item-btn {
        float: right;
    }
}

.item-form-container {
    position: relative;
}

.datepicker-container {
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 99;
}

.comments-label {
    display: block;
    font-size: 0.7em;
    margin: 10px 0 0;
}
