.deadline-input {
    width: 150px;
    display: inline-block;
    vertical-align: middle;
    label {
        margin:0;
        margin-right: 10px;
    }
}

.show-item {
    @include desktop-overflow-y;
    border-bottom: 1px solid lighten($base-border-color, 10%);
    &.is-selected,
    &:hover {
        background: lighten($body-bg, 1%);

        .fa-angle-down.toggle {
            color: $list-primary;
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }
    }

    &.is-selected {
        border: 1px solid $list-primary;
        border-radius: 2px;
        padding-left: 10px;
        color: black;
    }

    p, i {
        display: inline-block;
        margin:0;
        vertical-align: middle;
    }
    p {
        cursor: pointer;
        @media(min-width:992px){
            white-space: nowrap;
            @include desktop-overflow-y;
            text-overflow: ellipsis;
        }
    }
    i {
        font-size: 1.8em;
        line-height: 1em;
        margin: 0;
        padding: 0;
    }

    .show-item-content {
        width: 60%;
        @media(min-width:768px){
            width: 75%;
            padding: 5px 0;
            font-size: 1em;
            line-height: 0.7em;
        }
        @media(min-width:992px){
            width: 75%;
            padding: 7px 0;
            white-space: nowrap;
            @include desktop-overflow-y;
            text-overflow: ellipsis;
        }
        @media(min-width:1200px){
            width: 80%;
            padding: 10px 0;
            font-size: 1.1em;
            line-height: 1em;
        }
    }

    .preview-deadline,
    .toggle {
        float: right;
        margin-top: 5px;
        margin-right: 5px;
        cursor: pointer;
    }
    .toggle {
        font-size: 16px;
        padding: 7px;
        &:hover {
            color: $list-primary;
        }
    }
    .preview-deadline {
        font-size: 0.75em;
        margin-top: 10px;
        color: darken($base-border-color, 20%);
        .fa {
            font-size: 1.2em;
        }
        span {
            margin-right: 5px;
        }
    }

}
.edit-item-form {
    padding: 10px;
    background: $body-bg;
    border: 1px solid $input-border;
    border-radius: 3px;
    margin-bottom: 10px;
    position: relative;
}
.delete-item-btn-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    @include desktop-overflow-y;
    margin: 0;
    padding: 0;
}
.toggle-delete-item-btn,
.delete-item-btn {
    cursor: pointer;
    display: inline;
    float: right;
    padding: 2px;
}
.delete-item-btn {
    color: $brand-danger;
    background: white;
    border-radius: 3px;
    border: 1px solid $brand-danger;
    margin-right: 7px;
    padding: 2px 4px;
}

.datepicker-container {
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 99;

    .delete-deadline {
        border-top: 1px solid $base-border-color;
        border-left: 1px solid $base-border-color;
        border-right: 1px solid $base-border-color;
        background: white;
        padding: 10px;
        text-align: center;
    }
}

.comments-label {
    display: block;
    margin: 10px 0 0;
    cursor: pointer;
    color: $text-color;
    font-size: 0.7em;
    // .fa,
    p {
        display: inline-block;
    }
    p {
        margin: 0 3px;
        font-family: $font-family-sans-serif;
        font-weight: 600;
    }
}
.delete-checklist-item {
    font-size: 0.8em;
    cursor: pointer;
    float: right;
    &:hover {
        color: $brand-danger;
    }
}

.edit-checklist-btn,
.edit-checklist-icon {
    float: right;
}
.edit-checklist-btn {
    margin-top: 5px;
}

.edit-checklist-icon {
    margin-top: 8px;
    margin-left: 5px;
    font-size: 0.6em;
    cursor: pointer;
    color: $input-border;
    &:hover {
        color: $list-primary;
    }
}

.edit-checklist-input {
    width: 85%;
    border: 0;
    color: $list-primary;
    outline: none;
}

.checklist-filters {
    margin-bottom: 10px;
    @include clearfix;

    .checked-filter {
        ul {
            left: 0;
        }
    }
    .priority-filter {
        ul {
            right: 0;
        }
    }

    .checked-filter,
    .priority-filter {
        position: relative;
        display: inline-block;
        min-width: 100px;
        cursor: pointer;
        font-size: 0.9em;

        ul {
            position: absolute;
            top: 0;
            margin: 0;
            padding: 3px 6px;
            list-style: none;
            border-radius: $base-border-radius;
            min-width: 175px;

            &.open {
                border: 1px solid $base-border-color;
                z-index: 1000;
                background: white;
            }

            li {
                display: block;
                padding: 2px;
                border-radius: 2px;

                i.fa {
                    color: darken($base-border-color, 20%);
                }
                &:hover {
                    background: rgba(224,224,224,0.3);
                }

                &:not(:last-child) {
                    margin-bottom: 5px;
                }
            }
        }
    }
}
// ::-webkit-scrollbar {
//     display: none;
// }

.checklist {
    height: 100%;
    @include desktop-overflow-y;
    .main-panel {
        height: 100%;
        @include desktop-overflow-y;
        .panel-heading {
            padding-bottom: 0;
        }
    }
    .checklist-index-panel {
        height: 75%;
        overflow-y: scroll;
        padding-top: 0;
    }
    &.has-editable-item {
        @media(max-width:768px){
            .main-panel {
                display: none;
            }
            .side-panel {
                position: absolute;
                top: 56px;
                left: 0;
                right: 0;
                width: 100%;
                // min-height: 100%;
            }
        }

        @media(min-width:769px){
            .main-panel,
            .side-panel {
                display: inline-block;
                vertical-align: top;
            }
            .main-panel {
                width: 40%;
            }
            .side-panel {
                width: 58%;
                margin-left: 1%;
            }
        }

        @media(min-width:1200px){
            .main-panel {
                width: 45%;
            }
            .side-panel {
                width: 53%;
                margin-left: 1%;
            }
        }

        // .main-panel {
        //     width: 50%;
        //     display: inline-block;
        //     vertical-align: top;
        // }

        // .side-panel {
        //     @media(max-width:768px){
        //         position: absolute;
        //         top: 0;
        //         left: 0;
        //         right: 0;
        //         width: 100%;
        //         // min-height: 100%;
        //     }
        // }

        .show-item-content-input,
        .show-item-content {
            width: 60%;
            font-size: 0.9em;
            line-height: 1.2;
            @media(min-width:768px){
                width: 50%;
                padding: 5px 0;
            }
            @media(min-width:992px){
                width: 50%;
                padding: 7px 0;
                font-size: 1em;
                line-height: 0.7em;
                white-space: nowrap;
                @include desktop-overflow-y;
                text-overflow: ellipsis;
            }
            @media(min-width:1200px){
                width: 60%;
                padding: 10px 0;
                font-size: 1.1em;
                line-height: 1em;
            }
            @media(min-width:1400px){
                width: 65%;
            }
        }

        .show-item-content-input {
            border: 0;
            outline: none;
        }
    }
}

.pretty {
    .fa {
        color: $list-primary;
    }
}

.manage-checklist-item {
    @media(min-width:769px){
        border: 1px solid $list-primary;
    }


    .sizing-buttons {
        padding: 10px;
        @include clearfix;

        .fa {
            cursor: pointer;
            color: $base-border-color;

            &:hover {
                color: $list-primary;
            }
        }
    }

    .panel-heading {
        padding-bottom: 0;
        padding-top: 10px;

    }
    .panel-body {
        padding-top: 0;
    }

    .manage-checklist-item-content-textarea {
        margin: 0;
        padding: 0 0 3px 0;

        .pretty {
            vertical-align: text-top;
            margin-top: 5px;
        }
    }

    .edit-content {
        textarea {
            display: inline-block;
            vertical-align: top;
            width: 85%;
            border: 0;
            border-radius: 2px;
            outline-color: white;
            outline-style: solid;
            padding: 4px 4px 6px;
            outline-width: 1px;
            height: auto;
            margin: 0;
            resize: none;
            font-size: 0.9em;
            &:focus {
                outline-color: $list-primary;
                color: black;
            }
            @media(max-width:768px){
                width: 83%;
            }
            @media(min-width:1000px){
                width: 81%;
            }
            @media(min-width:1200px){
                width: 85%;
            }
            @media(min-width:1433px){
                width: 90%;
            }
        }
    }

    .manage-item-form-meta {
        background: lighten($body-bg, 1%);
        padding: 3px;
        border: 1px solid $base-border-color;
        border-radius: 2px;
        text-align: center;

        .is-important,
        .is-urgent,
        .deadline {
            display: inline-block;
            margin: 0;
            width: 32.5%;
            color: darken($base-border-color, 20%);

            label {
                display: block;
                margin: 0;
                font-size: 0.8em;
            }

            .fa {
                font-size: 1.1em;
                cursor: pointer;
            }
            &:nth-child(2) {
                border-left: 1px solid $base-border-color;
                border-right: 1px solid $base-border-color;
            }
        }
    }
}
