
@import 'checklists/show_item';
@import 'checklists/checklist_filters';
@import 'checklists/manage_checklist_item';

.deadline-input {
    width: 150px;
    display: inline-block;
    vertical-align: middle;
    label {
        margin:0;
        margin-right: 10px;
    }
}

.edit-item-form {
    padding: 10px;
    background: $body-bg;
    border: 1px solid $input-border;
    border-radius: 3px;
    margin-bottom: 10px;
    position: relative;
}

.datepicker-container {
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 99;

    .delete-deadline {
        border-top: 1px solid $base-border-color;
        border-left: 1px solid $base-border-color;
        border-right: 1px solid $base-border-color;
        background: white;
        padding: 10px;
        text-align: center;
    }
}

.delete-checklist-item {
    font-size: 0.8em;
    cursor: pointer;
    float: right;
    &:hover {
        color: $brand-danger;
    }
}





.add-item-form-comments {
    .comments-label {
        display: block;
        margin: 10px 0 0;
        cursor: pointer;
        color: $text-color;
        font-size: 0.7em;
        p {
            margin: 0 3px;
            font-family: $font-family-sans-serif;
            font-weight: 600;
            display: inline-block;
        }
    }
}

.checklist {
    height: 100%;
    @include desktop-overflow-y;

    .main-panel {
        height: 100%;
        @include desktop-overflow-y;
        .panel-heading {
            padding-bottom: 0;
        }
    }

    .side-panel {
        @include desktop-overflow-y;
        height: 100%;
    }
    .checklist-index-panel {
        height: 75%;
        overflow-y: scroll;
        padding-top: 0;
    }
    .show-item-content-input,
    .show-item-content {
        // font-weight: $font-weight-light;
        font-weight: $font-weight-normal;
        // font-weight: $font-weight-bold;
        color: $grey-text-color;
    }
    &.has-expanded-editable-item {
        .main-panel {
            display: none;
        }

        .side-panel {
            width: 100%;
        }
    }

    &.has-editable-item {
        @media(max-width:768px){
            .main-panel {
                display: none;
            }
            .side-panel {
                position: absolute;
                top: 56px;
                left: 10px;
                right: 10px;
                width: auto;
            }
        }

        @media(min-width:769px){
            .main-panel,
            .side-panel {
                display: inline-block;
                vertical-align: top;
            }
            .main-panel {
                width: 40%;
            }
            .side-panel {
                width: 58%;
                margin-left: 1%;
            }
        }

        @media(min-width:1200px){
            .main-panel {
                width: 45%;
            }
            .side-panel {
                width: 53%;
                margin-left: 1%;
            }
        }

        .show-item-content-input,
        .show-item-content {
            width: 60%;
            font-size: 0.9em;
            line-height: 1.2;
            @media(min-width:768px){
                width: 50%;
                padding: 5px 0;
            }
            @media(min-width:992px){
                width: 50%;
                padding: 7px 0;
                font-size: 1em;
                line-height: 0.7em;
                white-space: nowrap;
                @include desktop-overflow-y;
                text-overflow: ellipsis;
            }
            @media(min-width:1200px){
                width: 60%;
                padding: 10px 0;
                font-size: 1.1em;
                line-height: 1em;
            }
            @media(min-width:1400px){
                width: 60%;
            }
        }

        .show-item-content-input {
            border: 0;
            outline: none;
        }
    }

    .edit-checklist-btn,
    .edit-checklist-icon {
        float: right;
    }
    .edit-checklist-btn {
        margin-top: 5px;
    }

    .edit-checklist-icon {
        margin-top: 8px;
        margin-left: 5px;
        font-size: 0.6em;
        cursor: pointer;
        color: $input-border;
        &.fa-circle-o-notch,
        &:hover {
            color: $list-primary;
        }
    }

    .checklist-title span,
    .checklist-title .fa-list,
    .edit-checklist-input {
        vertical-align: text-top;
    }

    .checklist-title,
    .edit-checklist-input {
        // font-weight: $font-weight-bold;
        font-weight: $font-weight-normal;
        font-family: $title-font-family;
    }
    .checklist-title span,
    .checklist-title .fa-list,
    .edit-checklist-input {
        line-height: 1.2;
        font-size: 1.25em;
    }
    .checklist-title span,
    .edit-checklist-input {
        width: 85%;
        padding: 0;
        margin:0;
    }


    .checklist-title  span{
        display: inline-block;
    }

    .checklist-title {
        color: $blue-text-color;
        // color: black;
    }

    .edit-checklist-input {
        border: 0;
        // color: $list-primary;
        color: black;
        outline: none;
    }
}

.pretty {
    .fa {
        // color: $list-primary;
        color: $brand-primary;
    }
}
