.note-color-scheme {
    color: $note-primary !important;
}
.list-color-scheme {
    color: $list-primary !important;
}
.goal-color-scheme {
    color: $goal-primary !important;
}


/* Buttons */
 .btn-note,
 .btn-list,
 .btn-goal {
     color: white;
     &:active,
     &:hover {
         color: rgba(255,255,255,0.9);
     }
 }
 .btn-note {
     background: $note-primary;
     border: 1px solid darken($note-primary, 10%);
     &:active,
     &:hover {
         background: darken($note-primary, 4%);
     }
 }
 .btn-list {
     background: $list-primary;
     border: 1px solid darken($list-primary, 10%);
     &:active,
     &:hover {
         background: darken($list-primary, 4%);
     }
 }
 .btn-goal {
     background: $goal-primary;
     border: 1px solid darken($goal-primary, 10%);
     &:active,
     &:hover {
         background: darken($goal-primary, 4%);
     }
 }
