.folder-color-scheme {
    &,
    a {
        color: $folder-primary;
    }
}
.note-color-scheme {
    &,
    a {
        color: $note-primary;
    }
}
.list-color-scheme {
    &,
    a {
        color: $list-primary;
    }
}
.black-color-scheme {
    &,
    a {
        color: black;
    }
}
.grey-color-scheme {
    &,
    a {
        color: $grey-text-color;
    }
}
.goal-color-scheme {
    &,
    a {
        color: $goal-primary;
    }
}


/* Buttons */
 .btn-folder,
 .btn-note,
 .btn-list,
 .btn-goal {
     color: white;
     &:active,
     &:hover {
         color: rgba(255,255,255,0.9);
     }
 }
 .btn-folder {
     background: $base-background;
     border: 1px solid darken($folder-primary, 10%);
     &:active,
     &:hover {
         background: darken($folder-primary, 4%);
     }
 }
 .btn-note {
     background: $note-primary;
     border: 1px solid darken($note-primary, 10%);
     &:active,
     &:hover {
         background: darken($note-primary, 4%);
     }
 }
 .btn-list {
     background: $list-background;
     border: 1px solid darken($list-primary, 10%);
     &:active,
     &:hover {
         background: darken($list-primary, 4%);
     }
 }
 .btn-goal {
     background: $goal-primary;
     border: 1px solid darken($goal-primary, 10%);
     &:active,
     &:hover {
         background: darken($goal-primary, 4%);
     }
 }

.btn-primary {
    background: $base-background;
}
