.create-new {
    display: inline-block;
    width: 100%;
}

.toggle-create-new-btn {
    margin: 0;
    margin-right: 10px;
    color: white;
    vertical-align: middle;

    // To make it round again, uncomment the lines below
    border-radius: 50%;
    height: 27px;
    width: 27px;
    padding: 0;

    &:active {
        outline: none;
    }
}

.create-new-input {
    border: 0;
    border-right: 1px solid $base-border-color;
    outline: none;
    background: white;
    display: block;
    line-height: 2;
    &:active {
        outline: none;
    }
    @media(min-width:768px){
        width: 100%;
    }
}

.create-new-form {
    .input-wrap {
        padding-right: 5px;
    }
    .button-wrap {
        padding-left: 5px;
    }
}
