
li.listing {
    background: white;
    border: 1px solid $base-border-color;
    border-radius: 3px;
    display: inline-block;
    padding: 0 3px 0 6px;
    margin-right: 12px;
    margin-top: 12px;
    width: 23%;
    min-width: 150px;
    color: $blue-text-color;

    .fa,
    h5 {
        vertical-align: middle;
        display: inline-block;
    }
    h5 {
        width: 75%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
    }
    .fa {
        // font-size: 1.2em;
    }
    a {
        text-decoration: none;
    }

    &.selected {
        // cursor: pointer;
        border: 1px solid $brand-primary;
    }
}

.note-color-scheme {
    &.selected {
        border: 1px solid $note-primary !important;
    }
}

.goal-color-scheme {
    &.selected {
        border: 1px solid $goal-primary !important;
    }
}

.list-color-scheme {
    &.selected {
        border: 1px solid $list-primary !important;
    }
}
