.index-all {
    padding-bottom: 50px;
    min-height: 100%;
}

.index-folders,
.index-files {
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
    h5 {
        margin-bottom: 10px;
    }
}
.index-files {
    // margin-top: 0;
}

li.listing {
    background: white;
    border: 1px solid $base-border-color;
    border-radius: 3px;
    display: inline-block;
    padding: 0 6px 0 6px;
    margin-right: 12px;
    margin-top: 12px;
    position: relative;

    @media(max-width:767px){
        width: 100%;
    }
    @media(min-width:768px){
        width: 48%;
    }
    @media(min-width:992px){
        width: 30%;
        min-width: 150px;
    }
    @media(min-width:1200px){
        width: 23%;
        min-width: 150px;
    }

    h5 {
        width: 90%;
        vertical-align: middle;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
    }
    a {
        text-decoration: none;
    }

    .go-to-listing {
        float: right;
        padding: 3px;
        margin-top: 4px;
    }

    &.folder-color-scheme {
        &.selected {
            border: 1px solid $folder-primary !important;
        }
        .go-to-listing {
            color: $folder-primary;
        }
    }

    &.note-color-scheme {
        &.selected {
            border: 1px solid $note-primary !important;
        }
        .go-to-listing {
            color: $note-primary;
        }
    }

    &.goal-color-scheme {
        &.selected {
            border: 1px solid $goal-primary !important;
        }
        .go-to-listing {
            color: $goal-primary;
        }
    }

    &.list-color-scheme {
        &.selected {
            border: 1px solid $list-primary !important;
        }
        .go-to-listing {
            color: $list-primary;
        }
    }
    .item-count-tag {
        position: absolute;
        top: -11px;
        right: 5px;
        font-size: 0.7em;
        background: white;
        color: darken($base-border-color, 15%);
        font-weight: bold;
        border: 1px solid $base-border-color;
        border-radius: 50%;
        min-width: 22px;
        height: 22px;
        text-align: center;
        display: table;

        .item-count {
          display: table-cell;
          text-align: center;
          vertical-align: middle;
        }
    }
    &.selected {
        .item-count-tag {
            border: 1px solid $list-primary;
            // color: $list-primary;
            background: $list-primary;
            color: white !important;
        }
    }
}
