.index-all {
    padding-bottom: 50px;
    min-height: 100%;
}

.index-folders,
.index-files {
    margin: 0;
    padding: 0;
    h5 {
        margin-bottom: 10px;
    }
}
.index-files {
    margin-top: 30px;
}

li.listing {
    background: white;
    border: 1px solid $base-border-color;
    border-radius: 3px;
    display: inline-block;
    padding: 0 6px 0 6px;
    margin-right: 12px;
    margin-top: 12px;
    position: relative;

    @media(max-width:767px){
        width: 100%;
    }
    @media(min-width:768px){
        width: 48%;
    }
    @media(min-width:992px){
        width: 30%;
        min-width: 150px;
    }
    @media(min-width:1200px){
        width: 23%;
        min-width: 150px;
    }

    h5 {
        width: 90%;
        vertical-align: middle;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
    }
    a {
        text-decoration: none;
    }

    .go-to-listing {
        float: right;
        padding: 3px;
        margin-top: 4px;
    }

    &.folder-color-scheme {
        &.selected {
            border: 1px solid $folder-primary !important;
        }
        .go-to-listing {
            color: $folder-primary;
        }
    }

    &.note-color-scheme {
        &.selected {
            border: 1px solid $note-primary !important;
        }
        .go-to-listing {
            color: $note-primary;
        }
    }

    &.goal-color-scheme {
        &.selected {
            border: 1px solid $goal-primary !important;
        }
        .go-to-listing {
            color: $goal-primary;
        }
    }

    &.list-color-scheme {
        &.selected {
            border: 1px solid $list-primary !important;
        }
        .go-to-listing {
            color: $list-primary;
        }
    }
    .item-count-tag {
        position: absolute;
        top: -10px;
        right: 5px;
        font-size: 0.75em;
        background: $list-primary;
        color: white;
        font-weight: bold;
        border-radius: 50%;
        min-width: 20px;
        padding: 3px;
        height: 20px;
        line-height: 12px;
        text-align: center;
    }
}
