.add-item {
    position: relative;
    .edit-checklist-item & {
      margin-top: 10px;
    }
}

.item-form {
    width: 100%;
    padding: 0px;
    border: 1px solid $item-form-border-color;
    border-radius: 5px;
    overflow: hidden;
    background: white;
    position: relative;

    .item-form-content {
        vertical-align: middle;
        width: 100%;
        height: $item-form-height;
        padding: 0;
        padding-left: 5px;
        background: transparent;
        overflow: hidden;
        @media(min-width:768px){
            width: 70%;
        }
        @media(min-width:992px){
            width: 70%;
            min-width: 300px;
        }
        @media(min-width:1200px){
            width: 80%;
        }

        .fa-plus {
          line-height: $item-form-height;
          font-size: 1.1em;
          color: $brand-primary;
        }

        input {
            border: 0;
            outline: none;
            width: 85%;
            height: 100%;
            padding-left: 10px;
            background: transparent;
            font-weight: $font-weight-normal;
            font-family: $paragraph-font-family-sans-serif;
            @media(min-width:768px){
                width: 85%;
                padding-left: 5px;
            }
            @media(min-width:992px){
                width: 85%;
            }
            @media(min-width:1200px){
                width: 85%;
            }
        }
    }

}
