html,
body,
#productivity-app,
.section-wrapper {
    height: 100%;
    left:0;
    right:0;
    padding: 0;
    margin: 0;
    width: 100%;
    @include desktop-overflow-y;

    & > div {
      height: 100%;
    }
}

.main-menu-wrapper {
    background: $base-background;
    position: relative;
    margin: 0;
}

.section-wrapper {
    display: flex;
    margin: 0;
    flex-direction: row;
    @media(max-width:767px){
        flex-direction: column;
    }
}

.content-wrapper {
    padding: 15px 0 0;
    margin: 0;
    overflow-x: hidden;
    @media(min-width:768px){
      height: 92vh;
      overflow-y: scroll;
    }

    .inner-content-wrapper {
      padding: 0 20px;
      &.full-height {
        height: 100%;
      }
    }
}

.wide-section {
    width: 100%;
    position: relative;
    @include desktop-overflow-y;
    height: 100%;
    margin: 0;
}

.narrow-section {
  margin: 0;
  @media(max-width:767px){
      width: 100%;
  }
  @media(min-width:768px){
      width: 33%;
  }
  @media(min-width:1100px){
      width: 25%;
  }
  @media(min-width:1200px){
      width: 20%;
  }
  .nav-sizer {
      border-bottom: 1px solid rgba(255,255,255,0.3);
  }
}

@media(max-width:473px){
    .panel-heading,
    .panel-body {
        padding: 5px;
    }
}

.nav-sizer {
    width: 100%;
    margin: 0;
    @include top-menu-height;
}

.position-relative {
    position: relative;
}
