@mixin desktop-overflow-y {
    @media(min-width:768px){
        overflow: hidden;
    }
}

html,
body,
#productivity-app,
.section-wrapper {
    height: 100vh;
    left:0;
    right:0;
    padding: 0;
    width: 100vw;
    @include desktop-overflow-y;
}

.main-menu-wrapper {
    background: $base-background;
}

.section-wrapper {
    display: flex;
    flex-direction: row;
    @media(max-width:767px){
        flex-direction: column;
    }
}

.content-wrapper {
    padding: 2vh 1.7vw 3vh;
    overflow-x: hidden;
    @media(min-width:768px){
        height: 90vh;
        overflow-y: scroll;
    }
}
.nav-wrapper {
    width: 100%;
    margin: 0;
}

.wide-section {
    width: 100%;
    @include desktop-overflow-y;
}

.narrow-section {
    @media(max-width:767px){
        width: 100%;
    }
    @media(min-width:768px){
        width: 20%;
    }
    @media(min-width:992px){
        width: 20%;
    }
    @media(min-width:1200px){
        width: 20%;
    }
}

.main-logo {
    text-align: center;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    @include top-menu-height;
    a {
        font-size: 1.4em;
        line-height: 35px;
        color: white;
        text-decoration: none;
    }
}
