.main-menu {
    text-align: left;
    @media(max-width:767px){
        padding: 0 5px;
    }
    @media(min-width:768px){
        padding: 0 10px;
    }
    ul {
        list-style: none;

        &,
        & li {
            padding: 0;
            margin: 0;
            width: 100%;
            display: block;
        }
    }

    ul.main-menu-options {
        margin-top: 5px;
        a, button {
            color: white;
        }
    }
    li.menu-option {
        text-align: left;
        border-radius: 18px;
        a, button {
            display: block;
            width: 100%;
            padding: 8px;
        }
        button {
            background: transparent;
            outline: none;
            border: 0;
            text-align: left;

            // .fa-caret-down {
            //     margin-top: 5px;
            // }
            // .fa-caret-up {
            //     margin-top: 4px;
            // }
        }
        &.open,
        &:hover {
            background: rgba(255,255,255,0.2);
        }
    }

    .nested-menu-options {
        padding-left: 20px;
        li {
            // margin-bottom: 5px;
        }
        a {
            display: block;
            padding: 5px 8px ;
            border-radius: 18px;
            &:hover {
                background: rgba(255,255,255,0.2);
            }
        }
    }

}

.auth-links {
    position: absolute;
    bottom: 3vh;
    color: white;
    list-style: none;
    margin: 0;
    font-size: 0.9em;
    color: rgba(255,255,255,0.7);
    cursor: pointer;
    &:hover {
        color: rgba(255,255,255,1);
    }
}

.main-logo {
    text-align: center;
    a {
        font-size: 1.2em;
        line-height: 40px;
        color: white;
        text-decoration: none;
    }
}
