@mixin main-nav {
    display: block;
    background: white;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid $base-border-color;
    width: 100%;

}

.nav-sizer {
    width: 100%;
    margin: 0;
    @include top-menu-height;
}

.top-nav {
    @include main-nav;
    @include clearfix;
    padding-right: 1.7vw;
    padding-left: 1.7vw;
    padding-top: 4px;
    padding-bottom: 4px;
    height: inherit;
    .top-nav-wrap {margin:0;padding:0;height:auto;}
}

@import "action_nav";
