.search-wrapper {
    position: relative;
    padding: 10px 0;
    width: 100%;

    @media(max-width:767px){
        width: 100%;
        height: 35px;
    }
}

.search-form,
.search-results {
    display: block;
    width: 100%;
}


.search-form {
    .fa {
        color: white;
    }
    background: rgba(255,255,255,0.2);
    padding: 6px 8px;
    border-radius: 18px;
    border: 1px solid rgba(255,255,255,0);
    &.has-query {
        border: 1px solid rgba(255,255,255,0.4);
    }
    .search-input {
        background: rgba(255,255,255,0.2);
        &,
        &:active {
            display: inline-block;
            outline: none;
            border: 0;
            box-shadow: none;
            font-size: 0.9em;
            height: 100%;
            background: transparent;
            color: white;
            width: 85%;
            @media(min-width:769px) and (max-width:840px) {
                width: 80%;
            }
        }
    }
    .cancel-search-btn {
        cursor: pointer;
        font-size: 0.8em;
        margin-top: 6px;
        float: right;
    }

    ::-webkit-input-placeholder { /* Chrome */
      color: white;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: white;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: white;
      opacity: 1;
    }
    :-moz-placeholder { /* Firefox 4 - 18 */
      color: white;
      opacity: 1;
    }
}

.search-results {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999999999999999;
    background: rgba(255,255,255,1);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    padding: 10px 6px;
    border-radius: 3px;
    font-weight: bold;

    @media(min-width:768px){
        padding: 0px 100px 20px;
    }

    @media(min-width:1200px){
        padding: 0px 200px 20px;
    }

    ul {
        margin: 0;
        li {
            margin-bottom: 5px;
        }
    }

    .fa-times {
        font-size: 1.5em;
        position: absolute;
        top: 20px;
        right: 20px;
        color: $base-border-color;
        cursor: pointer;
    }

    .algolia-image {
        border-top: 1px solid $base-border-color;
        margin-top: 5px;
        padding-top: 3px;
        text-align: right;
        font-size: 0.9em;
        img {
            height: 1em;
        }
    }
    mark {
        margin: 0;
        padding: 0;
        color: inherit;
    }
}

.folder-color-scheme mark {
    background: #E5F5FF;
}

.list-color-scheme mark {
    background: #DEF2E3;
}
