.checklist-filters {
    margin-bottom: 10px;
    @include clearfix;

    .checked-filter {
        ul {
            left: 0;
        }
    }
    .priority-filter {
        ul {
            right: 0;
        }
    }

    .checked-filter,
    .priority-filter {
        position: relative;
        display: inline-block;
        min-width: 100px;
        cursor: pointer;
        font-size: 0.9em;

        ul {
            position: absolute;
            top: 0;
            margin: 0;
            padding: 3px 6px;
            list-style: none;
            border-radius: $base-border-radius;
            min-width: 175px;

            &.open {
                border: 1px solid $base-border-color;
                z-index: 1000;
                background: white;
            }

            li {
                display: block;
                padding: 2px;
                border-radius: 2px;

                i.fa {
                    color: darken($base-border-color, 20%);
                }
                &:hover {
                    background: rgba(224,224,224,0.3);
                }

                &:not(:last-child) {
                    margin-bottom: 5px;
                }
            }
        }
    }
}
